body {
    background-color: rgb(40, 48, 66);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#glCanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#info-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    pointer-events: none;
}

#info-section > span {
    background-color: #FFFFFF44;
    color: #FFFFFF;
    user-select: none;
    pointer-events: none;
}


html[data-modal-active="true"] {
    touch-action: none;
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
    overflow: hidden;
}
  
[data-modal-active="true"] body {
    touch-action: none;
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
    overflow: hidden;
}